.change-language {
  //   width: 120%;
  //   max-width: 1400px;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  transform: translateX(100%);
  font-size: 22px;
  color: $text-green;
  text-align: end;
  text-decoration: underline;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  //   outline: 4px solid red;
}

.change-language:hover {
  //   scale: 1.1;
  background-color: $icons-green;
  color: white;

  cursor: pointer;
}
